/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
    background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}
ol, ul {
    list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
    outline: 0;
}
a img {
    border: 0;
}

/* =Fonts
---------------------------------------------- */

@font-face {
    font-family: Jaapokki;
    src: url(../fonts/jaapokkisubtract-regular.eot);
    src: local(pompadur), url(../fonts/jaapokkisubtract-regular.ttf);
}

/* =General
---------------------------------------------- */
body, p, textarea, input, h2.site-description, h1, h2, h3, h4, h5, h6, ul.menu li a {
    font-family: 'Jaapokki' !important;
}

body {
    background-color: #222327;
    color: #fff;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
}

html {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    display: flex;
}

.content-wrap{
    padding: 80px;
}

h1.hello {
    width: 100%;
    font-size: 160px;
    line-height: 110px;
    text-transform: uppercase;
    text-align: center;
}
h2.description {
    width: 100%;
    font-size: 24px;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin: 0 0 20px 0;
    padding: 0 100px;
}

.links a {
    letter-spacing: 0.2px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
    border-bottom-style: dotted;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 5px;
}

.links a:hover { 
    border-bottom-style: dotted;
    border-bottom-color: rgba(255, 208, 0, 0);
    border-radius: 1px;
    background-color: #fff557;
    color: #222327;
}

.resume {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 100px;
    margin: 40px 0 0 0;
    width: 100px;
    position: absolute;
    right: 0;
    text-align: center;
}

.resume a {
    color: #fff;
    outline: none;
    text-decoration: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.resume a:hover {
    color: #fff557;
}

.resume .text {
    font-size: 0.7em;
    display: block;
        margin-bottom: -5px;
}

.resume .divider {
    color: #fff557;
    vertical-align: middle;
    display: inline-block;
    margin-top: -4px;
    font-size: .7em;
}

/*.resume a:after {
    content: "";
    background-image: url(../img/download.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 4px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}*/

.resume a:hover:after {
    background-position: -22px;
}

/* =Media
---------------------------------------------- */

/*mobile:  320px,
tablet:  740px,
desktop: 980px,
wide:    1300px*/

@media screen and (max-width: 740px) {
    h1.hello {
        font-size: 82px;
    }
    h2.description {
        font-size: 16px;
    }
    .content-wrap{
        padding: 40px;
    }
    .resume, .links {
        padding: 0 50px;
    }
}

@media screen and (max-width: 320px) {
    h1.hello {
        font-size: 48px;
    }
    h2.description {
        font-size: 14px;
    }
    .resume, .links {
        padding: 0 30px;
    }
}

/* =Other
---------------------------------------------- */

body *::-moz-selection {
  background: #fff557;
}

body *::-webkit-selection {
  background: #fff557;
}

body *::selection {
  background: #fff557;
}