{
  "parser": "babel-eslint",
  "extends": [
    "scorum",
    "scorum/react",
    "scorum/prettier",
    "scorum/prettier/react"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "src": "./src",
          "constants": "./src/constants",
          "containers": "./src/containers",
          "components": "./src/components",
          "pages": "./src/pages",
          "helpers": "./src/helpers",
          "store": "./src/store",
          "modules": "./node_modules"
        }
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [0],
    "react/jsx-pascal-case": [0]
  },
  "globals": {
    "__PATH_PREFIX__": true
  }
}
